@{
    ViewData["Title"] = "Bad request";
}

<img class="img-fluid rounded mx-auto d-block" src="~/img/400-bad-request.png" alt="">
<br /><br />
<div class="text-center h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
