<div class="row">
    <div class="col-12 col-md-4 p-5 mt-3">
        <a asp-controller="Shoes" asp-action="Add"><img src="~/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
        <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
        <p class="text-center"><a asp-controller="Shoes" asp-action="Add" class="btn btn-success">Go</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
        <a asp-controller="Clothes" asp-action="Add"><img src="~/img/dior-set.jpg" class="rounded-circle img-fluid border"></a>
        <h2 class="h5 text-center mt-3 mb-3">Clothes</h2>
        <p class="text-center"><a asp-controller="Clothes" asp-action="Add" class="btn btn-success">Go</a></p>
    </div>
</div>