@{
    ViewBag.Title = "Not a Seller";
}

<h3 class="text-center" style="padding-top: 0.5em"> You are not a seller! </h3>
<h3 class="text-center"> Become one now! </h3>
<h4 class="text-center"> <a asp-controller="Seller" asp-action="Become" class="text-decoration-none h4">Click here</a></h4>