<div class="row">
    <div class="col-12 col-md-4 p-5 mt-3">
        <a asp-controller="Clothes" asp-action="Sports"><img src="~/img/nike-tech.jpg" class="rounded-circle img-fluid border"></a>
        <h5 class="text-center mt-3 mb-3">Sport Wear</h5>
        <p class="text-center"><a asp-controller="Clothes" asp-action="Sports" class="btn btn-success">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
        <a asp-controller="Shoes" asp-action="All"><img src="~/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
        <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
        <p class="text-center"><a asp-controller="Shoes" asp-action="All" class="btn btn-success">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
        <a asp-controller="Clothes" asp-action="All"><img src="~/img/dior-set.jpg" class="rounded-circle img-fluid border"></a>
        <h2 class="h5 text-center mt-3 mb-3">Clothes</h2>
        <p class="text-center"><a asp-controller="Clothes" asp-action="All" class="btn btn-success">Go Shop</a></p>
    </div>
</div>