@model ShoeFormModel
@{
    ViewData["Title"] = "Add Listing";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_ShoesFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}